<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tasks</key>
	<array>
		<dict>
			<key>c</key>
			<integer>2</integer>
			<key>p</key>
			<integer>5</integer>
			<key>t</key>
			<string>купить хлеб</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>2</integer>
			<key>p</key>
			<integer>2</integer>
			<key>t</key>
			<string>купить iPhone X</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>3</integer>
			<key>p</key>
			<integer>4</integer>
			<key>t</key>
			<string>дома: разобрать кладовку</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>4</integer>
			<key>p</key>
			<integer>1</integer>
			<key>t</key>
			<string>читать: Пушкина</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>1</integer>
			<key>p</key>
			<integer>1</integer>
			<key>t</key>
			<string>посетить Auto Show</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>2</integer>
			<key>p</key>
			<integer>1</integer>
			<key>t</key>
			<string>купить молоко</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>3</integer>
			<key>p</key>
			<integer>4</integer>
			<key>t</key>
			<string> дома: порядок в холодильнике</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>3</integer>
			<key>p</key>
			<integer>3</integer>
			<key>t</key>
			<string>Home: Organise the spice cabinet in the kitchen</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>5</integer>
			<key>p</key>
			<integer>1</integer>
			<key>t</key>
			<string>учить: Xcode и Swift</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>5</integer>
			<key>p</key>
			<integer>1</integer>
			<key>t</key>
			<string>обновить резюме</string>
		</dict>
	</array>
</dict>
</plist>
