<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tasks</key>
	<array>
		<dict>
			<key>c</key>
			<integer>2</integer>
			<key>p</key>
			<integer>5</integer>
			<key>t</key>
			<string>買麵包</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>2</integer>
			<key>p</key>
			<integer>2</integer>
			<key>t</key>
			<string>購買iPhone X</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>3</integer>
			<key>p</key>
			<integer>4</integer>
			<key>t</key>
			<string>家：沖洗廚房</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>4</integer>
			<key>p</key>
			<integer>1</integer>
			<key>t</key>
			<string>閱讀約章獎勵計劃2018</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>1</integer>
			<key>p</key>
			<integer>1</integer>
			<key>t</key>
			<string>日趕早看車展</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>2</integer>
			<key>p</key>
			<integer>1</integer>
			<key>t</key>
			<string>買牛奶</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>3</integer>
			<key>p</key>
			<integer>4</integer>
			<key>t</key>
			<string>家庭：沖刷冰箱</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>3</integer>
			<key>p</key>
			<integer>3</integer>
			<key>t</key>
			<string>主頁：在廚房裡組織調料櫃</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>5</integer>
			<key>p</key>
			<integer>1</integer>
			<key>t</key>
			<string>研究：Xcode和Swift</string>
		</dict>
		<dict>
			<key>c</key>
			<integer>5</integer>
			<key>p</key>
			<integer>1</integer>
			<key>t</key>
			<string>更新我的簡歷</string>
		</dict>
	</array>
</dict>
</plist>
